
.kids{
	background:url(../images/kids.png);
    background-repeat: no-repeat;
    width: 310px;
    height: 210px;
}


.carolyn {
	background:url(../images/carolyn.png);
    background-repeat: no-repeat;
    background-size: contain;
	width: 200px;
	height:300px;
    display: flex;
}

.donna {
    background:url(../images/donna.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height:300px;
    position: absolute;
}



.delivery {
	background:url(../images/shopping_cart.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
	height: 260px;
    position: absolute;
}


.triangle {
	background:url(../images/triangle_.png);
    width: 220px;
    height: 200px;
    background-repeat:no-repeat;
     
}

.store {
    background:url(../images/store.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
}

.coin200 {
    background:url(../images/coin200.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
}

.coin190 {
    background:url(../images/coin190.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
}

.coin180 {
    background:url(../images/coin180.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
}

.books {
    display:inline-flex;
    background:url(../images/books.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 150px;
}

.books1 {
    position:absolute;
    background:url(../images/books1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 350px;
}

.textbooks {
	background:url(../images/textbooks.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
}

.caps {
	background:url(../images/caps.png);
    background-repeat: no-repeat;
    width: 310px;
    height: 80px;
  }


.scroll_empty {
    background:url(../images/empty_scroll.svg);
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

.scroll_sealed {
    background:url(../images/scroll_sealed.svg);
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}



.ScrollAllWayUpStyle {
    position: relative;
    margin-bottom: 2em;
    left: 93%;
}
