body {
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;

}

h1, h2, h3{
    padding: 0px;
    margin: 0px;
}

.page-container {
  margin: 40px;
  margin-top:30px;
}

/* NavBar.js */
.button-bar {
	margin-left:45px;
	margin-right:45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:5px;
}

.title-bar {
	margin-left: 25px;
	margin-right:25px;
}

/* DonationDrawer.js */

.donation-drawer-container {
	width:100%;
	margin-top: 15px;

}

.donation-drawer-title {
	text-align: center;
	margin: 10px;
}

.donate-avatar-container {
	margin:15px;
	display:flex;
	justify-content: center;
	align-items: center;

	font-size: 32pt;
	font-weight: 800;
}

.donate-button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:240px;
	margin:auto;
}

.donate-description {
	text-align: center;
	width:80%;
	margin:auto;
}

.donate-arrow {
	margin-left: 15px;
	margin-right: 20px;
}

.donate-post-description{
	font-size: 9pt;
	font-style: italic;
	margin-top:25px;
	width:60%;
	margin-bottom:25px;
}

.donate-what-happens {
	margin-bottom:25px;
	font-style: italic;

}

/* RequestTable.js */

.table-title-cell {
	text-transform: uppercase;
	font-size: 12pt !important;
}

.table-value-cell {
	font-size: 10pt !important;
}

/* CharitCard.js */

.charity-card-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}

.charity-card {
	width:400px;
	margin:15px;
	display: inline-block;
}

.charity-card-title {
	font-size:2.0rem;
}

.charity-card-media {
	height:200px;
}

.charity-card-tags {
	color:#3f51b5;
	margin-top:10px;
}

.charity-card-buttons {
	margin-bottom:10px;
}

.charity-card-content {
	height: 225px;
	padding-bottom:8px !important;
}



/*Home.js*/

.home-intro-container {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	margin: 5vh auto;
}

.home-intro-text {
	flex-basis: auto;
	margin: 5px;
}

.home-intro-video {
	flex-basis: auto;
	margin: 5px;

}

.big-buttons-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width:60%;
	margin:5% auto auto auto;
}

.big-button {
	width: 18%;
}

/* TabBar.js */
.tab-bar-container {
	padding:10px;
}

/* DescribeGift.js */

.describe-gift-label {
	display:inline-block;
	width:100px;
	margin-right:20px;
}

.describe-gift-section {
	margin:30px;
}

.describe-gift-textfield {
	min-width:300px;
	width:60%;
}

.describe-gift-textfield-tags {
	min-width:200px;
	width:30%;
	margin-right: 200px;
}

.describe-gift-add-tag {
	display:inline-block;
	margin-left:30px;
}


