body {
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
}

h1, h2, h3{
    padding: 0px;
    margin: 0px;
}

.page-container {
  margin: 40px;
  margin-top:30px;
}

/* NavBar.js */
.button-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top:5px;
	margin-left:5px;
	margin-right:45px;

}

.title-bar {
	margin-left: 25px;
	margin-right:25px;
}

/* DonationDrawer.js */

.drawer-container {
	width:100%;
	margin-top: 15px;

}

.drawer-title {
	text-align: center;
	margin: 10px;
}

.donate-avatar-container {
	margin:15px;
	display:flex;
	justify-content: center;
	align-items: center;

	font-size: 32pt;
	font-weight: 800;
}

.drawer-button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:240px;
	margin:auto;
}

.drawer-description {
	text-align: center;
	width:80%;
	margin:auto;
}

.donate-arrow {
	margin-left: 15px;
	margin-right: 20px;
}

.donate-post-description{
	font-size: 9pt;
	font-style: italic;
	margin-top:25px;
	width:60%;
	margin-bottom:25px;
}

.donate-what-happens {
	margin-bottom:25px;
	font-style: italic;

}

/* RequestTable.js */

.table-title-cell {
	text-transform: uppercase;
	font-size: 12pt !important;
}

.table-value-cell {
	font-size: 10pt !important;
}

/* CharitCard.js */

.charity-card-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}

.charity-card {
	width:400px;
	margin:15px;
	padding-bottom:15px;
	display: inline-block;
}

.charity-card-title {
	font-size:2.0rem;
}
.charity-card-subtitle {
	padding-bottom:5px;
	padding-top:5px;
	font-size:1.5rem;
	color:#666666;
}
.charity-card-action{
	text-transform: uppercase;
}

.charity-card-media {
	height:200px;
}

.charity-card-tags {
	color:#3f51b5;
	margin-top:10px;
}

.charity-card-buttons {
	margin-left: 7px;
}

.charity-card-content {
	padding-bottom:8px !important;
}

.charity-card-commitment-section {
	margin-top:20px;
	margin-bottom:10px;
}

.charity-card-commitment-pre, .charity-card-expiry-pre{
	font-weight: 1000;
}

/*Home.js*/

.home-intro-container {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	margin: 10vh auto;
}

.home-intro-text {
	flex-basis: auto;
	margin: 15px;
	width: 350px;
}

.home-intro-video {
	flex-basis: auto;
	margin: 15px;

}

.big-buttons-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width:60%;
	margin:5% auto auto auto;
}

.big-button {
	width: 19%;
}

/*CharityHome */

.charity-status-container {
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5vh;
}

.charity-status-requestName{
	display: block;
	margin: 2px 10px 2vh 10px;
}

.status-bages {
	float: right;
}

.charity-status-heading{
	display: flex;
	justify-content: center;
	margin: 2px 10px 5vh 10px;
}

.profile {
	display: flex;
	justify-content: center;
	margin: 5vh;
}


/* TabBar.js */
.tab-bar-container {
	padding:10px;
}

/* DescribeGift.js */

.describe-gift-label {
	display:inline-block;
	width:100px;
	margin-right:20px;
}

.describe-gift-section {
	margin:30px;
}

.describe-gift-textfield {
	min-width:300px;
	width:60%;
}

.describe-gift-textfield-tags {
	min-width:200px;
	width:30%;
	margin-right: 200px;
}

.describe-gift-add-tag {
	display:inline-block;
	margin-left:30px;
}

/* ItemizeGift.js */
.itemize-add-item-container {
	display:flex;
	width: 80%;
	justify-content: space-between;
}

.itemize-name-of-good {
	width:50%;
}

.itemize-container {
	padding:10px;
}

.itemize-description {
	margin-bottom: 15px;
}

.itemize-total-dollars {
	font-weight: 800; 
}

.itemize-estimated-cost {
	margin-top:20px;
}

/* NewGiftSummary.js */

.gift-summary-container {
	margin:30px;
}

.gift-summary-title {
	margin-bottom:10px;
}

.gift-summary-kv {
	display:flex;
	font-size:14pt;
	margin-bottom:10px;
}

.gift-summary-key {
	width:20%;
	color:#666666;
}

.gift-summary-value {
	width:70%
}

.gift-donation-shipping {
	margin-bottom:15px;
}

.gift-donation-shipping-address {
	font-weight: 400;
}

/* BidDrawer.js */
.bid-items-section {
	width:90%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bid-address {
	font-weight: 800;
}

.bid-entry-container {
	font-style: center;
	margin:auto;
	width:200px;
	margin-bottom:10px;
}


/*How it works*/

.kids{
	background:url(../images/kids.png);
    background-repeat: no-repeat;
    width: 310px;
    height: 210px;
}


.aida {
	background:url(../images/carolyn.png);
    background-repeat: no-repeat;
    background-size: contain;
	width: 200px;
	height:300px;
    display: flex;
}

.donna {
    background:url(../images/donna.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height:300px;
    position: absolute;
}



.delivery {
	background:url(../images/shopping_cart.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
	height: 260px;
    position: absolute;
}


.triangle {
	background:url(../images/triangle_.png);
    width: 220px;
    height: 200px;
    background-repeat:no-repeat;
     
}

.store {
    background:url(../images/store.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
}

.coin200 {
    background:url(../images/coin200.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
}

.coin190 {
    background:url(../images/coin190.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
}

.coin180 {
    background:url(../images/coin180.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
}

.books {
    display:inline-flex;
    background:url(../images/books.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 150px;
}

.books1 {
    position:absolute;
    background:url(../images/books1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 350px;
}

.textbooks {
	background:url(../images/textbooks.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
}

.caps {
	background:url(../images/caps.png);
    background-repeat: no-repeat;
    width: 310px;
    height: 80px;
  }


.scroll_empty {
    background:url(../images/empty_scroll.svg);
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

.scroll_sealed {
    background:url(../images/scroll_sealed.svg);
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}


.ScrollAllWayUpContainer {
	display:flex;
	justify-content: flex-end;
}
