.gift-page-title {
	font-size: 40pt;
	font-weight: 600;
	text-align: center;
	text-transform: capitalize;
}

.gift-page-author {
	font-size: 20pt;
	text-align: center;
}

.gift-info-container {
	display: flex;
	justify-content: space-between;
	margin-top:30px;
}

.gift-info-section {
	width:48%;
}

.gift-donation-section {
	margin-top:20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.gift-info-image-card {
	margin-top: 20px;
}
.gift-background-color {
	height: 100%;
	background-color:rgba(255, 255, 255, 0.6);
}
.gift-title-container {
	display:flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.gift-info-image {
	height: 200px;
}

.gift-donation-cost {
	color:#3f51b5;
}

.gift-donation-estimate {
	margin-bottom: 10px;
}

.gift-background-title {
	margin-bottom: 15px;
}

.gift-background {
	margin-bottom: 25px;

}
.gift-your-donation {
	margin-right: 5px;
}

.donation-text-field {
	font-size: 14pt !important;
}

.gift-donate-button {
	max-height: 30px;
}
.gift-donation-money-section {
	font-size:14pt;
	font-weight: 800;
}