.user-info-header {
	display: flex;
	align-items: center;
}

.charity-title {
	margin-left:10pt;
}

.charity-subtitle {
	margin-left:10pt;
	font-size:16pt;
}


.social-container {
	margin-top:10pt;
}

.contact-title {
	font-weight: 500;
}

.requests-section {
	margin-top:30pt;
}
